body {
  font-family: Arial, Helvetica, sans-serif;
}

#divContainerPuestos {
  width: 60%;
  height: 200px;
  background-color: #453431;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  margin: 0 auto;
}

#h1Title {
  text-align: center;
  padding: 10px;
  width: 61.5%;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  margin-top: 150px;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  background-color: #6D8B74;
}

.divFila {
  display: flex;
  flex-direction: row;
}

.divFilaColumn {
  margin-left: 80px;
}

.h2Title {
  padding: 12px;
  width: 350px;
  margin-top: 38px;
  border-radius: 20px;
  color: white;
  background-color: #6D8B74;
  font-size: 20px;
  text-align: left;
}

#divContainerButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#btnPublicar {
  background-color: #6D8B74;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  margin-left: 10px;
}

#btnCancelar {
  background-color: #D82F2F;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

#btnPublicar:hover {
  background-color: #3c8b4f;
}

#btnCancelar:hover {
  background-color: #f4220a;
}

.btnVerDetalles {
  padding: 10px 10px;
  margin-top: 38px;
  border-radius: 20px;
  text-align: left;
  color: white;
  background-color: #6D8B74;
  font-size: 20px;
  width: 200px;
  text-align: center;
  border: none;
  cursor: pointer;
}