body {
    font-family: Arial;
}

#formCambiar {
    background-color: #453431;
    text-align: center;
    border-radius: 20px;
    width: 450px;
    margin: 0 auto;
    margin-top: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#h1TitleCambiarContra {
    margin-bottom: 40px;
    font-size: 30px;
    display: flex;
    color: white;
    font-weight: bold;
}

.divContainerButton {
    display: flex;
    gap: 10px;
}

.txtBackFond {
    background-color: #6D8B74;
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 35px;
    text-indent: 20px;
    font-size: 18px;
    color: white;
}

#labelContrasenna{
    font-weight: bold;
    margin-right: 150px;
}

#labelConfirmarContrasenna {
    font-weight: bold;
    margin-right: 70px;

}

#btnVolver {
    background-color: #D82F2F;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 30px;
    color: white;
    cursor: pointer;
}

#btnVolver:hover{
    background-color: #f4220a;
}

#btnEnviar {
    background-color: #6D8B74;
    border-radius: 20px;
    border: none;
    width: 100px;
    color: white;
    cursor: pointer;
}

#btnEnviar:hover{
    background-color: #3c8b4f;
}

.error {
    border: 1px solid red;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #6D8B74 inset;
}